.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@media (max-width: 1140px) {
	.head {
		flex-direction: column;
		align-items: flex-start;
	}

	.date {
		margin-top: 0.5rem;
	}
}
